*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.heading-style
{
    height: 77px;
    display: flex;
    align-items: center;
    background-color: #D0F7FA;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
    padding-left: 32px;
}
.cross-style ,.add-style
{
  color: #A80000;
  font-size: 18px;
  margin-right: 10px;
}
.add-style
{
  color: black;
}
.button-del,.button-add
{
    color: #A80000;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 160% */
letter-spacing: -0.09px;
background-color: transparent;
border: none;
outline: 0;
margin: 20px 0px 20px 72px;
}
.button-add
{
  color: black;
  margin-left: 26px;
  margin-top: 40px;
}
#details,#profile,#additional
{
   margin: 50px 0 0 100px;
   width: 595px;
   border-radius: 20px;
   box-shadow: 3px 3px 14px 0px #bebebe4d
}